div(class="w3-card-2 picture-card")
            header(class="w3-container w3-dark-grey")
                h4=picture.title
            div(class="w3-container")
                img(src=`/img/preview/${id}.jpg`, class="w3-left w3-border w3-padding")
                table(class="w3-table w3-bordered")
                    tbody
                        tr
                            td(width="30%") Автор
                            td=picture.author
                        tr
                            td(width="30%") Описание
                            td=picture.description
                        tr
                            td(width="30%") Начальная цена
                            td=picture.start_price
                        tr
                            td(width="30%") Шаг аукциона
                            td Мин: #{picture.min_step} / Макс: #{picture.max_step}
            footer(class="w3-container w3-dark-grey")
                a(href="#" onclick=`deletePictureButtonClicked("${id}")` class="picture-card-control")
                    i(class="fa fa-trash")
                a(href="#" onclick=`updatePictureButtonClicked("${id}")` class="picture-card-control")
                    i(class="fa fa-pencil")