doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/assets/css/main.min.css')
    body
        div(class="w3-sidebar w3-bar-block w3-light-grey w3-card", style="width: 20%")
            div(class="w3-container w3-dark-grey")
                h3(align="center") Аукцион картин
            a(href="/gallery" class="w3-bar-item w3-button" style="padding: 15px 20px")
                i(class="fa fa-image")
                span  Список картин
            a(href="/participant" class="w3-bar-item w3-button" style="padding: 15px 20px")
                i(class="fa fa-user")
                span  Участники аукциона
            a(href="/config" class="w3-bar-item w3-button" style="padding: 15px 20px")
                i(class="fa fa-wrench")
                span  Конфигурация
        div(class="w3-container" style="margin-left: 20%")
            block content
    script(src="/assets/js/main.min.js")
