.custom_padding(@x) {
  margin-top: @x;
}

@primary_font_color: #fefefe;


#button-create-picture {
  .custom_padding(15px)
}

#picture_cards {
  .custom_padding(30px)
}


.picture-card {
  margin-bottom: 30px;
  h4 {
    color: @primary_font_color;
  }
  img {
    max-width: 50%;
  }
  table {
    width: 60%;
    margin-left: 40%;
  }
  footer {
    padding: 10px;
  }
  .picture-card-control {
    float: right;
    margin-right: 10px;
  }
}



#participant-table {
  th {
    color: @primary_font_color;
    font-weight: 400;
  }
}

.modal-form {
  width: 60%;
}